<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../flatiron-director/flatiron-director.html">
<link rel="import" href="../core-animated-pages/core-animated-pages.html">
<link rel="import" href="../bookmarks-login/bookmarks-login.html">
<link rel="import" href="../bookmarks-pages/bookmarks-pages.html">

<polymer-element name="bookmarks-app">
  <template>
    <link rel="stylesheet" href="bookmarks-app.css">

    <flatiron-director route="{{route}}" autoHash></flatiron-director>

    <core-animated-pages transitions="cross-fade-all">
      <section id="login">
        <bookmarks-login></bookmarks-login>
      </section>
      <section id="pages">
        <bookmarks-pages route="{{route}}" user="{{user}}"></bookmarks-app>
      </section>
    </core-animated-pages>
    
  </template>
  <script src="bookmarks-app.js"></script>
</polymer-element>