:host /deep/ core-toolbar {
  color: #FFF;
  background : rgba(175,12,38,.7);
}

core-header-panel.left core-toolbar {
  padding-left: .8em;
  margin-bottom: 1em;
}

core-header-panel.left core-menu#main_menu core-item {
  padding-left: .8em;
  margin: .3em 0;
  cursor: pointer;
}

:host /deep/ core-header-panel /deep/ #mainPanel {
  background: #FFF;
}