<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="bookmarks-category-card" attributes="category">
  <template>
    <link rel="stylesheet" href="bookmarks-category-card.css">
      
    <section id="{{category.id}}">
      <a href="category/{{category.id}}/" layout horizontal center>
        <core-icon icon="chevron-right"></core-icon>
        <h2>{{category.title}}</h2>
      </a>
    </section>

  </template>
  <script src="bookmarks-category-card.js"></script>
</polymer-element>