<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../bookmarks-category-card/bookmarks-category-card.html">

<polymer-element name="bookmarks-category-list" attributes="categories" noscript>
  <template>

    <template repeat="{{elements in categories}}">
      <template if="{{elements.url}}">
        <bookmarks-card bookmark="{{elements}}"></bookmarks-card>
      </template>
      <template if="{{!elements.url}}">
        <bookmarks-category-card category="{{elements}}"></bookmarks-category-card>
      </template>
    </template>
    
  </template>
</polymer-element>