<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-fab/paper-fab.html">

<polymer-element name="bookmarks-login">
  <template>
    <link rel="stylesheet" href="bookmarks-login.css">

    <section layout vertical center>
      <div id="card">
        <h1>Bookmarks</h1>
        <paper-input label="YOUR TOKEN" id="token"></paper-input>
        <paper-fab icon="check" id="submit"></paper-fab>
      </div>
    </section>
    
  </template>
  <script src="bookmarks-login.js"></script>
</polymer-element>