<link rel="import" href="../polymer/polymer.html">

<polymer-element name="bookmarks-card" attributes="bookmark">
  <template>
    <link rel="stylesheet" href="bookmarks-card.css">
      
    <section id="{{bookmark.id}}">
      <a href="//{{bookmark.url}}" target="_blank">
        <h2>{{bookmark.title}}</h2>
      </a>
      <p class="date">{{bookmark.dateAdded}}</p>
      <template if="{{bookmark.title}}">
        <a class="list">#{{bookmark.list_name}}</a>
      </template>
      
    </section>
    
  </template>
  <script src="bookmarks-card.js"></script>
</polymer-element>