<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../bookmarks-card/bookmarks-card.html">

<polymer-element name="bookmarks-list" attributes="bookmarks">
  <template>

    <template repeat="{{bookmark in bookmarks}}">
      <bookmarks-card bookmark="{{bookmark}}"></bookmarks-card>
    </template>
    
  </template>
  <script>
  Polymer('bookmarks-list', {
    bookmarksChanged : function(oldB, newB){
      console.log(typeof newB);
      console.log(newB);
      console.log(newB.length);
      console.log(newB[0]);
    }
  });
  </script>
</polymer-element>